<p id="notice"><%= notice %></p>

<p>
  <strong>Person:</strong>
  <%= @certification.person_id %>
</p>

<p>
  <strong>Certification name:</strong>
  <%= @certification.certification_name %>
</p>

<p>
  <strong>Expiration date:</strong>
  <%= @certification.expiration_date %>
</p>

<p>
  <strong>Note:</strong>
  <%= @certification.note %>
</p>

<%= link_to 'Edit', edit_certification_path(@certification) %> |
<%= link_to 'Back', certifications_path %>
