<p id="notice"><%= notice %></p>

<h1>Person Email Addresses</h1>

<table>
  <thead>
    <tr>
      <th>Person</th>
      <th>Email address</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @person_email_addresses.each do |person_email_address| %>
      <tr>
        <td><%= person_email_address.person %></td>
        <td><%= person_email_address.email_address %></td>
        <td><%= link_to 'Show', person_email_address %></td>
        <td><%= link_to 'Edit', edit_person_email_address_path(person_email_address) %></td>
        <td><%= link_to 'Destroy', person_email_address, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Person Email Address', new_person_email_address_path %>
