<%= form_for(person) do |f| %>
  <% if person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(person.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
      <% person.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :first_name %>
    <%= f.text_field :first_name %>
  </div>

  <div class="field">
    <%= f.label :last_name %>
    <%= f.text_field :last_name %>
  </div>

  <div class="field">
    <%= f.label :addr_route %>
    <%= f.text_field :addr_route %>
  </div>

  <div class="field">
    <%= f.label :addr_city %>
    <%= f.text_field :addr_city %>
  </div>

  <div class="field">
    <%= f.label :addr_state %>
    <%= f.text_field :addr_state %>
  </div>

  <div class="field">
    <%= f.label :addr_zip %>
    <%= f.number_field :addr_zip %>
  </div>

  <div class="field">
    <%= f.label :username %>
    <%= f.text_field :username %>
  </div>

  <div class="field">
    <%= f.label :pass_hash %>
    <%= f.text_field :pass_hash %>
  </div>

  <div class="field">
    <%= f.label :pass_salt %>
    <%= f.text_field :pass_salt %>
  </div>

  <div class="field">
    <%= f.label :bio %>
    <%= f.text_area :bio %>
  </div>

  <div class="field">
    <%= f.label :birth_date %>
    <%= f.date_select :birth_date %>
  </div>

  <div class="field">
    <%= f.label :gender %>
    <%= f.text_field :gender %>
  </div>

  <div class="field">
    <%= f.label :height_in_inches %>
    <%= f.number_field :height_in_inches %>
  </div>

  <div class="field">
    <%= f.label :weight_in_pounds %>
    <%= f.number_field :weight_in_pounds %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
