<p id="notice"><%= notice %></p>

<h1>People</h1>

<table>
  <thead>
    <tr>
      <th>Person</th>
      <th>First name</th>
      <th>Last name</th>
      <th>Addr route</th>
      <th>Addr city</th>
      <th>Addr state</th>
      <th>Addr zip</th>
      <th>Username</th>
      <th>Pass hash</th>
      <th>Pass salt</th>
      <th>Bio</th>
      <th>Birth date</th>
      <th>Gender</th>
      <th>Height in inches</th>
      <th>Weight in pounds</th>
      <th>Shoe size</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @people.each do |person| %>
      <tr>
        <td><%= person.person_id %></td>
        <td><%= person.first_name %></td>
        <td><%= person.last_name %></td>
        <td><%= person.addr_route %></td>
        <td><%= person.addr_city %></td>
        <td><%= person.addr_state %></td>
        <td><%= person.addr_zip %></td>
        <td><%= person.username %></td>
        <td><%= person.pass_hash %></td>
        <td><%= person.pass_salt %></td>
        <td><%= person.bio %></td>
        <td><%= person.birth_date %></td>
        <td><%= person.gender %></td>
        <td><%= person.height_in_inches %></td>
        <td><%= person.weight_in_pounds %></td>
        <td><%= person.shoe_size %></td>
        <td><%= link_to 'Show', person %></td>
        <td><%= link_to 'Edit', edit_person_path(person) %></td>
        <td><%= link_to 'Destroy', person, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Person', new_person_path %>
