<%= form_for(event_type) do |f| %>
  <% if event_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event_type.errors.count, "error") %> prohibited this event_type from being saved:</h2>

      <ul>
      <% event_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :event_type_id %>
    <%= f.number_field :event_type_id %>
  </div>

  <div class="field">
    <%= f.label :type_description %>
    <%= f.text_field :type_description %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
