<%= form_for(person_postal_address) do |f| %>
  <% if person_postal_address.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(person_postal_address.errors.count, "error") %> prohibited this person_postal_address from being saved:</h2>

      <ul>
      <% person_postal_address.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :person_id %>
    <%= f.text_field :person_id %>
  </div>

  <div class="field">
    <%= f.label :postal_address_id %>
    <%= f.text_field :postal_address_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
