<%= form_for(event_property_map) do |f| %>
  <% if event_property_map.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event_property_map.errors.count, "error") %> prohibited this event_property_map from being saved:</h2>

      <ul>
      <% event_property_map.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :event_id_id %>
    <%= f.text_field :event_id_id %>
  </div>

  <div class="field">
    <%= f.label :key %>
    <%= f.text_field :key %>
  </div>

  <div class="field">
    <%= f.label :value %>
    <%= f.text_field :value %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
