<p id="notice"><%= notice %></p>

<h1>Event Property Maps</h1>

<table>
  <thead>
    <tr>
      <th>Event</th>
      <th>Key</th>
      <th>Value</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @event_property_maps.each do |event_property_map| %>
      <tr>
        <td><%= event_property_map.event_id %></td>
        <td><%= event_property_map.key %></td>
        <td><%= event_property_map.value %></td>
        <td><%= link_to 'Show', event_property_map %></td>
        <td><%= link_to 'Edit', edit_event_property_map_path(event_property_map) %></td>
        <td><%= link_to 'Destroy', event_property_map, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Event Property Map', new_event_property_map_path %>
