<p id="notice"><%= notice %></p>

<p>
  <strong>Event:</strong>
  <%= @event_property_map.event_id %>
</p>

<p>
  <strong>Key:</strong>
  <%= @event_property_map.key %>
</p>

<p>
  <strong>Value:</strong>
  <%= @event_property_map.value %>
</p>

<%= link_to 'Edit', edit_event_property_map_path(@event_property_map) %> |
<%= link_to 'Back', event_property_maps_path %>
