<p id="notice"><%= notice %></p>

<h1>Jerseys</h1>

<table>
  <thead>
    <tr>
      <th>Person</th>
      <th>Team</th>
      <th>Number</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @jerseys.each do |jersey| %>
      <tr>
        <td><%= jersey.person %></td>
        <td><%= jersey.team %></td>
        <td><%= jersey.number %></td>
        <td><%= link_to 'Show', jersey %></td>
        <td><%= link_to 'Edit', edit_jersey_path(jersey) %></td>
        <td><%= link_to 'Destroy', jersey, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Jersey', new_jersey_path %>
