<%= form_for(coach) do |f| %>
  <% if coach.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(coach.errors.count, "error") %> prohibited this coach from being saved:</h2>

      <ul>
      <% coach.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :person_id_id %>
    <%= f.text_field :person_id_id %>
  </div>

  <div class="field">
    <%= f.label :coach_type %>
    <%= f.text_field :coach_type %>
  </div>

  <div class="field">
    <%= f.label :coach_year_began %>
    <%= f.date_select :coach_year_began %>
  </div>

  <div class="field">
    <%= f.label :coach_year_ended %>
    <%= f.date_select :coach_year_ended %>
  </div>

  <div class="field">
    <%= f.label :coach_id %>
    <%= f.number_field :coach_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
