<p id="notice"><%= notice %></p>

<p>
  <strong>Person:</strong>
  <%= @coach.person_id %>
</p>

<p>
  <strong>Coach type:</strong>
  <%= @coach.coach_type %>
</p>

<p>
  <strong>Coach year began:</strong>
  <%= @coach.coach_year_began %>
</p>

<p>
  <strong>Coach year ended:</strong>
  <%= @coach.coach_year_ended %>
</p>

<p>
  <strong>Coach:</strong>
  <%= @coach.coach_id %>
</p>

<%= link_to 'Edit', edit_coach_path(@coach) %> |
<%= link_to 'Back', coaches_path %>
