<p id="notice"><%= notice %></p>

<p>
  <strong>Event:</strong>
  <%= @event.event_id %>
</p>

<p>
  <strong>Event type:</strong>
  <%= @event.event_type %>
</p>

<p>
  <strong>Event datetime:</strong>
  <%= @event.event_datetime %>
</p>

<p>
  <strong>Team:</strong>
  <%= @event.team_id %>
</p>

<p>
  <strong>Created by:</strong>
  <%= @event.created_by %>
</p>

<p>
  <strong>Open to public:</strong>
  <%= @event.open_to_public %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
