<p id="notice"><%= notice %></p>

<p>
  <strong>Player:</strong>
  <%= @player_statistic.player_id %>
</p>

<p>
  <strong>Statistic type:</strong>
  <%= @player_statistic.statistic_type %>
</p>

<p>
  <strong>Statistic value:</strong>
  <%= @player_statistic.statistic_value %>
</p>

<p>
  <strong>Date recorded:</strong>
  <%= @player_statistic.date_recorded %>
</p>

<p>
  <strong>Stat:</strong>
  <%= @player_statistic.stat_id %>
</p>

<%= link_to 'Edit', edit_player_statistic_path(@player_statistic) %> |
<%= link_to 'Back', player_statistics_path %>
